<div class="container">

  <div class="big-card__photo">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQofGV4DJYhKDDP65n_xgEvVYkMKygGn_TgQ&usqp=CAU"
   alt=""
   height="300px"
   width="400px"
   srcset="">
  </div>
  <div class="big-card__title">
    <h1><a href="#"> Saiu a nova versão do angular</a></h1>

  </div>
  <div class="big-card__description">
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia lorem id dolor mattis, at tincidunt mauris laoreet. Duis bibendum bibendum cursus. Nunc eleifend tellus nulla, sed viverra justo hendrerit ac. Cras fermentum varius tortor, eget dapibus elit finibus mollis. </p>
  </div>
</div>
